/*SECTION*/

section.sectionForUs {
    padding: 10px;
    width: 100%;
}


/*ARTICLE*/

section.sectionForUs article {
    width: 60%;
    float: right;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 0;
}

section.sectionForUs article .block {
    padding: 10px;
    text-align: left;
}

section.sectionForUs article .block h2 {
    margin: 0;
    padding-bottom: 20px;
    color: #1a0c00;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

section.sectionForUs article .block h2 img {
    height: auto;
    margin-right: 0;
    float: none;
    width: 50%;
}

section.sectionForUs article .block .avatar h3 {
    margin-bottom: 20px;
    color: #1a0c00;
    font-size: 22px;
    letter-spacing: 1px;
    margin-top: 30px;
}
section.sectionForUs article .block .avatar .contact a{
    margin-right: 5px;
    display: inline-block;
    margin-top: 10px;
}
section.sectionForUs article .block .avatar .contact{
    
    width: 30%;
    float: left;
}

section.sectionForUs article .block .avatar p {
    font-size: 18px;
    color: #1a0c00;
    word-wrap: break-word;
    text-indent: 20px;
    line-height: 1.1;
    font-style: italic;
    width: 70%;
    float: right;
}

section.sectionForUs article .block .avatar i {
    color: #ff8000;
    font-size: 20px;
    
}

section.sectionForUs article .block .avatar i:hover {
    color: #ff6600;
    font-size: 17px;
}

section.sectionForUs article .block .avatar .contact > img {
    box-shadow: 2px 2px 7px #999;
    
    height: auto;;
    margin-right: 20px;
    float: none;
    display: block;
}

section.sectionForUs article #teamLogo {
    box-shadow: none;
    margin-left: 10px;
}

.avatar:after{
    content: "";
    clear: both;
    display: block;
}

/* ASIDE*/

section.sectionForUs aside {
    width: 40%;
    float: left;
    /*padding: 10px;*/
    box-sizing: border-box;
}

section.sectionForUs aside .blockImg {
    /*padding: 10px;
    margin: 5px;*/
}

section.sectionForUs aside .blockImg h2 {
    /*margin-bottom: 10px;*/
    text-align: left;
    color: #1a0c00;
    font-size: 24px;
    text-transform: uppercase;
}

section.sectionForUs aside .blockImg img {
    border-radius: 2px 2px 2px 2px;
    box-shadow: 2px 2px 7px #999;
    width: 100%;
}
