.block h1 {
    margin-top: 10px;
    text-align: center;
    color: #e36101;
    font-size: 32px;
}

.block h2 {
    margin-top: 10px;
    text-align: center;
    color: #231f5c;
}


/*PLAY*/

.game {
    /*width: 100%;*/
    padding: 10px;
    position: relative;
}

.game img {
    width: 100%;
    float: none;
}

.game button {
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: transparent;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #e36101;
    border-radius: 50px;
    cursor: pointer;
}

.game button a {
    color: #e36101;
    text-decoration: none;
}

.hidden-minion1 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 60%;
    left: 70%;
    cursor: pointer;
}

.hidden-minion1:focus {
    background: url('images/minion1.png') no-repeat center;
    background-size: contain;
    outline: none;
}

.hidden-minion1:hover {
    background: url('images/minion1.png') no-repeat center;
    background-size: contain;
}

.hidden-minion2 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 70%;
    left: 90%;
    cursor: pointer;
}

.hidden-minion2:focus {
    background: url('images/minion2.png') no-repeat center;
    background-size: contain;
    outline: none;
}

.hidden-minion2:hover {
    background: url('images/minion2.png') no-repeat center;
    background-size: contain;
}

.hidden-minion3 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 80%;
    left: 60%;
    cursor: pointer;
}

.hidden-minion3:focus {
    background: url('images/minion3.png') no-repeat center;
    background-size: contain;
    outline: none;
}

.hidden-minion3:hover {
    background: url('images/minion3.png') no-repeat center;
    background-size: contain;
}

.hidden-minion4 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 75%;
    left: 20%;
    cursor: pointer;
}

.hidden-minion4:focus {
    background: url('images/minion4.png') no-repeat center;
    background-size: contain;
    outline: none;
}

.hidden-minion4:hover {
    background: url('images/minion4.png') no-repeat center;
    background-size: contain;
}

.hidden-minion5 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 85%;
    left: 48%;
    cursor: pointer;
}

.hidden-minion5:focus {
    background: url('images/minion5.png') no-repeat center;
    background-size: contain;
    outline: none;
}

.hidden-minion5:hover {
    background: url('images/minion5.png') no-repeat center;
    background-size: contain;
}

.hidden-minion6 {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 25%;
    cursor: pointer;
}

.hidden-minion6:focus {
    background: url('images/minion6.png') no-repeat center;
    background-size: contain;
    outline: none;
}

.hidden-minion6:hover {
    background: url('images/minion6.png') no-repeat center;
    background-size: contain;
}


/*LINKS*/

.links {
    width: 100%;
    margin-top: 40px;
}

.links div {
    display: inline-block;
    margin-bottom: 50px;
    position: relative;
    margin-left: 20px;
}

.links div button {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #231f5c;
    text-transform: uppercase;
    font-weight: bold;
    float: right;
    margin-top: 50px;
}

.links div button a {
    text-decoration: none;
    color: #fff;
    padding: 20px 35px;
}

.links div img {
    float: left;
    opacity: 0;
    transform: translateX(-20%);
    transition: transform 1s;
}

.links div:hover img {
    opacity: 1;
    transform: translate(0px, 0px);
}
