@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
* {
    margin: 0;
    padding: 0;
}

main {
    background-color: rgba(230, 168, 71, 0.3);
    width: 100%;
}

.main {
    width: 80%;
    float: left;
}

.minions img {
    width: 300px;
}

aside.teasers {
    width: 20%;
    float: right;
}

main:after {
    display: block;
    content: "";
    clear: both;
}
