@import url('https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
*,
body,
header,
main,
footer,
div,
section,
aside,
article,
p,
span,
h2,
ul,
li,
a,
img,
input {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
}


/*HEADER*/

header {
    width: 100%;
    height: 20%;
    position: fixed;
    top: 0;
    z-index: 20;
    /*background-color: rgba(255, 255, 255, 0.8);*/
    /*background-color: rgba(213, 225, 248, 0.8);*/
    background: linear-gradient(rgba(213, 225, 248, 0.8), rgba(255, 255, 255, 0.8));
}

body header div.logo {
    float: left;
    height: 100%;
    width: 25%;
    position: absolute;
    /*z-index: 10000;*/
    margin-right: 20px;
}

body header div.logo img {
    height: 100%;
    /*width: 100%;*/
}


/*NAV*/

.mobile-nav {
    display: none;
}

body nav {
    width: 75%;
    float: right;
    margin: 0 40px 0 70px;
    display: -webkit-flex;
    display: flex;
}

body nav ul {
    width: 100%;
    list-style-type: none;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
    /*padding-left: 70px;*/
}

body nav ul li {
    display: inline-block;
    margin-left: 30px;
    border: 1px solid #1a0d00;
    border-radius: 5px;
    width: 20%;
    height: 40px;
    text-align: center;
    letter-spacing: 1px;
    /*background-color: rgba(43, 81, 157, 0.95);*/
    /*background-color: rgba(213, 225, 248, 1);*/
    background: linear-gradient(rgba(213, 225, 248, 0.8), rgba(255, 255, 255, 0.8));
    position: relative;
}

body nav ul li a {
    color: #e36101;
    /*text-shadow: 0 0 1px #000;*/
    text-decoration: none;
    text-transform: uppercase;
    line-height: 40px;
    display: block;
    font-weight: bold;
    font-size: 0.9em;
}

body nav ul li:hover {
    background: #e36101;
}

body nav ul li:hover > a {
    color: #fff;
}

body nav ul li ul.sub-nav-list1,
body nav ul li ul.sub-nav-list2 {
    display: none;
}

body nav ul li:hover ul.sub-nav-list1,
body nav ul li:hover ul.sub-nav-list2 {
    position: absolute;
    top: 31px;
    left: -30px;
    display: block;
}

body nav ul li:hover ul.sub-nav-list1 li,
body nav ul li:hover ul.sub-nav-list2 li {
    width: 100%;
}

header:after {
    content: "";
    clear: both;
    display: block;
}

aside .headerContact {
    height: 33px;
    /*padding-left: 50px;*/
    margin-top: 20px;
}

aside > .headerContact a > img {
    margin-top: 8px;
    padding: 10px;
    /*width: 40px;
    height: 40px;*/
    cursor: pointer;
}


/*SEARCH FORM*/

div .search > input[type=text] {
    width: 200px;
    box-sizing: border-box;
    border: none;
    font-size: 1.2em;
    background-color: #fff2cc;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 14px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    outline: none;
}

div .search > input[type=text]:focus {
    width: 100%;
    border: 1px solid orange;
    border-radius: 5px;
    background-color: #fff;
    color: #1a0c00;
}

div .search > input [type=text]:hover {
    cursor: pointer;
    background-color: #e36101;
    color: #fff;
}

div .search > i {
    font-size: 1.2em;
    position: absolute;
    top: 15px;
    left: 15px;
    opacity: 0.8;
}


/*LOG FORM*/

.logForm {
    margin-top: 20px;
    padding-left: 10px;
    margin-right: 20px;
}

.logForm form {
    width: 100%;
}

.logForm p {
    /*text-align: center;*/
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0 0 1px #888;
    /*margin-left: 50px;*/
}

.form-field {
    padding-top: 5px;
    position: relative;
    width: 100%;
}

.form-field input {
    height: 25px;
    border: none;
    border-radius: 5px;
    outline: none;
    padding-left: 20px;
    color: #e36101;
    padding-top: 5px;
    width: 95%;
}

.form-field input::placeholder {
    color: #e36101;
    opacity: 0.8;
}

.form-field input:focus {
    border: 1px solid orange;
    border-radius: 5px;
}

.form-field i {
    position: absolute;
    top: 13px;
    left: 5px;
    opacity: 0.8;
    /*margin-left: 40px;*/
}

.logForm > form > input {
    margin-top: 10px;
    color: #e36101;
    border-radius: 2px 6px 2px 6px;
    outline: none;
    background: none;
    /*width: 155px;*/
    width: 80%;
    height: 30px;
    font-size: 1em;
    font-weight: bold;
    /*margin-left: 41px;*/
    letter-spacing: 8px;
    text-transform: uppercase;
}

.logForm > form > input:hover {
    cursor: pointer;
    background-color: #e36101;
    color: #fff;
}


/*MAIN*/

main {
    margin: 0 auto;
    background-color: #fff2cc;
    /*margin-top: 10px;*/
    /*overflow: auto;*/
    padding-bottom: 30px;
    position: relative;
    top: 200px;
    width: 100%;
}


/*BACK TO TOP ARROW*/

body .wrapper > .top {
    background-color: #fff2cc;
    margin: 0 auto;
    position: relative;
    bottom: -167px;
    padding: 10px;
}

body .wrapper > .top p a {
    /*font-size: 16px;*/
    text-decoration: none;
    color: #e36101;
    padding: 5px;
}

body .wrapper > .top p a:hover {
    /*font-size: 16px;*/
    color: #1a0c00;
}


/*BACK TO TOP ARROW - END*/

section {
    padding: 5px;
    width: 100%;

    box-sizing: border-box;
}

section aside {
    /*width: 38%;*/
    width: 30%;
    float: right;
    padding: 15px;
    box-sizing: border-box;
}

/*section aside .video {
    margin-right: 20px;
}*/

section aside .video iframe {
    width: 100%;
    height: 300px;
    margin: 0;
    border: none;
}

section aside h2 {
    color: #1a0c00;
    font-size: 1.2em;
    margin: 10px 20px 10px 0;
    /*margin-left: 20px;*/
    padding-top: 45px;
    /*padding-left: 30px;*/
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-animation-name: aside-titles;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-name: aside-titles;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/* Safari 4.0 - 8.0 */

@-webkit-keyframes aside-titles {
    0% {
        color: red;
    }
    25% {
        color: orange;
    }
    50% {
        color: yellow;
    }
    100% {
        color: red;
    }
}


/* Standard syntax */

@keyframes aside-titles {
    0% {
        color: red;
    }
    25% {
        color: orange;
    }
    50% {
        color: yellow;
    }
    100% {
        color: red;
    }
}

section article {
    width: 70%;
    float: left;
    padding: 10px;
    padding-bottom: 20px;
    border: none;
    box-sizing: border-box;
    margin-top: 5px;
    text-align: justify;
}

section article h2 {
    padding-bottom: 30px;
    color: #1a0c00;
    font-size: 1.4em;
}

section article img {
    width: 50%;
    height: 25%;
    margin-right: 20px;
    float: left;
}

section article p {
    font-size: 1em;
    color: #1a0c00;
    word-wrap: break-word;
    text-indent: 20px;
    line-height: 1.1;
}

section article p span {
    color: black;
    font-style: italic;
    font-size: 0.8em;
    float: right;
    margin: 2px;
}

section article p span a {
    color: black;
    text-decoration: none;
}

section article p span a:hover {
    color: orange;
}

.teasers {
    margin-bottom: 5px;
    /*margin-left: 17px;*/
    color: #e36101;
    /*font-size: 12px;*/
    padding: 10px;
    /*margin-right: 20px;*/
    width: 100%;
    box-sizing: border-box;
}

.teasers img {
    /*width: 380px;*/
    width: 100%;
    /*height: 180px;*/
}

.teasers img {
    box-shadow: 2px 2px 5px #999;
}

.dm-3-tickets,
.minions-movie {
    margin-top: 10px;
}

section:after,
main:after {
    content: "";
    clear: both;
    display: block;
}


/*FOOTER*/

footer {
    position: relative;
    bottom: -167px;
    width: 100%;
    background-color: #fff2cc;
    border-top: 1px solid orange;
    padding-bottom: 20px;
}

.footer-wrapper {
    padding: 20px;
    background-image: url('images/indexPictures/smiley.gif');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

footer ul {
    margin: 5px;
    padding: 5px;
    width: 25%;
    float: right;
}

footer ul li {
    display: block;
    list-style-type: none;
    letter-spacing: 1px;
    line-height: 1.6em;
    margin-right: 20px;
    text-align: left;
}

footer ul li a {
    text-decoration: none;
    color: #e36101;
    /*font-size: 18px;*/
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: bold;
}

footer ul li a:hover {
    color: #000;
}

footer p {
    color: #e36101;
    margin-left: 15px;
    /*font-size: 14px;*/
    font-size: 0.8em;
}

footer p img {
    width: 150px;
}

footer .footerContact {
    width: 250px;
    height: 33px;
    display: block;
}

footer .footerContact a > img {
    margin: 5px;
    margin-right: 3px;
    padding: 6px;
}

footer .validated p {
    float: right;
}

footer .validated img {
    margin-left: 5px;
    width: 30%;
}

footer .validated:after {
    content: "";
    clear: both;
    display: block;
}
