.block h1 {
    margin-top: 10px;
    text-align: center;
    color: #e36101;
    font-size: 32px;
}

.block h2 {
    margin-top: 10px;
    text-align: center;
    color: #231f5c;
}


/*PAPER CRAFTS*/

.paper-crafts div {
    padding: 30px;
    text-align: center;
}

.paper-crafts div img {
    width: 100%;
}

.paper-crafts button {
    margin-top: 10px;
    border-radius: 5px;
    outline: none;
    background: none;
    border: 1px solid #e36101;
    width: 50%;
    height: 50px;
}

.paper-crafts button a {
    padding: 20px 125px;
    color: #e36101;
    text-decoration: none;
    font-size: 16px;
}

.paper-crafts button:hover {
    background-color: #e36101;
}

.paper-crafts button:hover a {
    color: #fff;
}
