@media all and (max-width: 1300px) {
    section aside .video {
        width: 100%;
    }
    section aside .video iframe {
        width: 100%;
        height: 200px;
    }
    body nav ul li ul.sub-nav-list1 li a,
    body nav ul li ul.sub-nav-list2 li a {
        font-size: 0.7em;
    }
    header {
        height: 14%;
    }
}

@media all and (max-width: 1024px) {
    body {
        font-size: 14px;
    }
    section aside .video iframe {
        width: 100%;
        height: auto;
    }
    /*GAMES PAGE*/
    .links div img {
        opacity: 1;
    }
}

@media all and (max-width: 960px) {
    body nav {
        width: 70%;
    }
    body nav ul li {
        height: 35px;
        margin-left: 5px;
        width: 23%;
    }
    body nav ul li ul.sub-nav-list1 li a,
    body nav ul li ul.sub-nav-list2 li a {
        font-size: 0.6em;
    }
    body nav ul li:hover ul.sub-nav-list1,
    body nav ul li:hover ul.sub-nav-list2 {
        position: absolute;
        top: 26px;
        left: -6px;
    }
    .footer-wrapper {
        padding: 5px;
    }
    header {
        height: 17%;
    }
}

@media all and (max-width: 740px) {
    body nav {
        display: none;
    }
    header {
        height: 11%;
    }
    body header div.logo {
        position: relative;
        width: 50%;
        float: right;
    }
    /*MOBILE NAVIGATION*/
    .mobile-nav {
        display: inline-block;
        width: 40%;
        float: left;
    }
    .mobile-nav ul .sandwich-menu .submenu li:hover {
        background: #e36101;
    }
    .mobile-nav ul .sandwich-menu .submenu li:hover > a {
        color: #fff;
    }
    .sandwich-menu {
        position: relative;
    }
    .sandwich-menu .submenu {
        position: absolute;
        top: 43px;
        right: -382px;
        left: 0;
    }
    .mobile-nav ul li ul {
        display: none;
    }
    .sandwich-menu img {
        width: 50px;
    }
    .mobile-nav:hover .submenu {
        display: block;
        width: 100%;
    }
    .mobile-nav ul .sandwich-menu .submenu li {
        /*background-color: rgba(213, 225, 248, 1);*/
        background: linear-gradient(rgba(213, 225, 248, 1), rgba(255, 255, 255, 1));
        text-align: left;
        letter-spacing: 1px;
        border: 1px solid #1a0d00;
        border-radius: 5px;
        width: 100%;
        list-style-type: none;
        padding-left: 5px;
    }
    .mobile-nav ul .sandwich-menu .submenu li a {
        color: #e36101;
        /*text-shadow: 0 0 1px #000;*/
        text-decoration: none;
        text-transform: uppercase;
        line-height: 40px;
        display: block;
        font-weight: bold;
        font-size: 1em;
    }
    .submenu li:hover ul.sub-nav-list1 {
        display: block;
        width: 100%;
        position: absolute;
        top: 43px;
        left: 123px;
    }
    .submenu li:hover ul.sub-nav-list2 {
        display: block;
        width: 100%;
        position: absolute;
        top: 84px;
        left: 123px;
    }
    .submenu li:hover ul.sub-nav-list1 li a,
    .submenu li:hover ul.sub-nav-list2 li a {
        font-size: 0.9em;
    }
    /*MOBILE NAVIGATION - END*/
    main {
        top: 50px;
    }
    section {
        display: flex;
        flex-flow: column wrap;
        margin: 0;
        padding: 0;
    }
    section article {
        width: 100%;
        float: none;
        padding: 10px;
        box-sizing: border-box;
        order: 1;
    }
    section aside {
        float: none;
        order: 2;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        padding: 5px;
    }
    section aside .logForm {
        width: 30%;
        margin-left: 10px;
        margin-right: 10px;
        padding: 0;
    }
    section aside .video iframe {
        height: 350px;
    }
    section aside .logForm ~ .video {
        width: 65%;
        margin-left: 10px;
        margin-right: 0;
    }
    section aside .logForm ~ .video iframe {
        height: 250px;
    }
    section aside h2 {
        padding: 0;
    }
    .footer-wrapper {
        padding: 40px;
        background: transparent;
    }
    footer,
    body .wrapper > .top {
        bottom: -48px;
    }
    footer ul {
        width: 30%;
    }
    /*ABOUT US*/
    section.sectionForUs article.aboutUs {
        width: 100%;
    }
    section.sectionForUs aside,
    section.sectionForUs aside .blockImg {
        width: 100%;
    }
}

@media all and (max-width: 480px) {
    section aside .logForm {
        width: 100%;
        margin: 0;
        padding: 5px;
    }
    section aside .logForm ~ .video {
        width: 100%;
        margin: 0;
    }
    section aside .video iframe {
        height: 250px;
    }
    section aside iframe {
        height: 250px;
    }
    section aside .teasers {
        margin: 0;
    }
    .footer-wrapper {
        padding: 0;
    }
    footer p {
        font-size: 0.7em;
        padding-top: 5px;
    }
    footer ul {
        width: 37%;
    }
    footer .footerContact {
        width: 150px;
        margin-left: 20px;
    }
    footer .footerContact a > img {
        margin: 0;
        padding: 0;
    }
    .mobile-nav ul .sandwich-menu .submenu li a {
        font-size: 0.9em;
    }
    .submenu li:hover ul.sub-nav-list1 li a,
    .submenu li:hover ul.sub-nav-list2 li a {
        font-size: 0.7em;
    }
    header {
        height: 7%;
    }
}

@media all and (max-width: 480px) {
    /*GAMES PAGE*/
    .links div img {
        width: 40%;
    }
}
