.block h1 {
    margin-top: 10px;
    text-align: center;
    color: #e36101;
    font-size: 32px;
}

.block h2 {
    margin-top: 10px;
    text-align: center;
    color: #231f5c;
}


/*WALLPAPERS*/

#image-container {
    background: #aaa;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#image-container input[type="radio"] {
    display: none;
}

#image-container label img {
    width: 20%;
    float: left;
    clear: left;
    border: 10px solid #000;
}

#image-container label:hover {
    cursor: pointer;
}


/*#image-container::after{
    content: "";
    clear: both;
    display: block;
}*/

#wallpapers {
    width: 90%;
    position: absolute;
    top: 10%;
    left: 30%;
    /*right: -120px;*/
    /*margin-left: 350px;*/
    /*margin: 25px 60px 50px 270px;*/
    /*padding-top: 70px;*/
}

#wallpapers figure {
    margin: 0;
    position: absolute;
    opacity: 0;
    transform: scale(0.8);
    transition: 0.5s all linear;
}

#wallpapers figure img {
    /*height: 500px;*/
    width: 70%;
    border-radius: 20px;
    margin-bottom: 20px;
}

#wallpapers figure button {
    display: block;
    color: #e36101;
    border-radius: 5px;
    outline: none;
    background: none;
    border: 1px solid #e36101;
    width: 70%;
    height: 50px;
}

#wallpapers figure button a {
    display: block;
    text-decoration: none;
    color: #e36101;
    font-size: 1.5rem;
    padding: 10px 0;
}

#wallpapers figure button:hover {
    background-color: #e36101;
}

#wallpapers figure button:hover a {
    color: #fff;
}

#wallpaper1:checked~#wallpapers #wallpaper1-fig,
#wallpaper2:checked~#wallpapers #wallpaper2-fig,
#wallpaper3:checked~#wallpapers #wallpaper3-fig,
#wallpaper4:checked~#wallpapers #wallpaper4-fig {
    opacity: 1;
    transform: scale(1);
}

.extra-link {
    margin: 50px 0;
}

.extra-link button {
    display: block;
    color: #e36101;
    border-radius: 5px;
    outline: none;
    background: none;
    border: 1px solid #e36101;
    width: 50%;
    height: 50px;
    margin: 0 auto;
}

.extra-link button a {
    display: block;
    text-decoration: none;
    color: #e36101;
    font-size: 1.5rem;
    padding: 10px 0;
}

.extra-link button:hover {
    background-color: #e36101;
}

.extra-link button:hover a {
    color: #fff;
}
